/*taula*/
th:hover{

  padding: 1px;
color: black;
border-bottom: 1px solid #ddd;
align-items: center;
background-color: #f5f5f5;
text-align: center;
}
 td:hover {
    padding: 1px;
    color: black;
    border-bottom: 1px solid #ddd;
    align-items: center;
    background-color: #f5f5f5;
    text-align: left;
}


/*caixes*/
.caixa{
  color:black;

  text-shadow: 4px 4px 8 rgba(0,0,0,0.1);
  padding: 10px,
}

.caixa1{
background:rgb(185, 185, 185) ;
height: auto;

}
.caixa2{
background:rgb(185, 185, 185);
height: auto;
}
.caixa3{
background:rgb(185, 185, 185);
height: auto;
}
.caixa4{
background:rgb(77, 77, 77) ;
text-align: left;;
height: auto;
}
.caixa5{

  background:rgb(149, 149, 149) ;
  text-align: center;
  height:  50%;
  }
}
.caixa6{
background:rgb(185, 185, 185) ;
text-align: center;
height: auto;
}
.caixa7{
background:rgb(111, 111, 111) ;
height: 10%;
text-align: right;

}

.caixes{
display: flex;
flex-direction: row;

}
.primer{
  background:#f4f5f9;
  width: 10%;
}
.segon{
  width: 80%;
  background:rgb(185, 185, 185);
   position: static;
}
.tercer{
  width: 10%;
  background:#f4f5f9;


}
/*imatges*/
.imatge{

  height: 200px;
   width: 100%;


}
/*menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

div.spotify{
position: relative;
top: -10px;
right: 10px;
float: right;

}
#taula{
  position: relative;
visibility: hidden;
  top: 100px;
  right: -50px;
  float: left;

}
.boto{
  border-top: 2px;
  border-left: 2px;
  background-color: rgb(23, 164, 150);
  position: relative;
  top: 40px;
  right: 100px;

}
